<footer class="footer">
    Copyright © 2023
    <a style="color: #00FFDD;" href="/submit">Submit a secret</a>
    <a style="color: #00FFDD;" href="/secrets">View secrets</a>

</footer>

</body>
</html>