<%- include('partials/header') %>

   <% secretsFound.forEach(function(allsecrets){ %>
    
    <p class="secret-text"><%= allsecrets.secret %> </p>
   <% });  %> 
    
    

<%- include('partials/footer') %>